:host {
    display: flex;
    flex-direction: column;
    user-select: none;
}

[header] {
    flex: 0 0 auto;
}

[header-title] {
    font: var(--title-font);
    padding: var(--std-padding);
    border-bottom: var(--std-border);
}

[device] {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: var(--std-padding);
}

[device-loader] {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: var(--std-margin);
}

[device-loader-button] {
    flex: 0 0 auto;
}

[device-loader-loading] {
    flex: 1 0 auto;
    margin-left: var(--std-margin);
    font: var(--status-font);
}

[device-loader-loading][hidden] {
    visibility: hidden;
    display: block !important;
}

[device-list] {
    flex: 1 1 0;
    overflow-y: auto;
}

[device-list-host] {
    cursor: pointer;
}

[device-list-host]:hover {
    background-color: var(--hover-bg-color);
}

[device-list-host].selected {
    background-color: var(--selected-bg-color);
    color: var(--selected-color);
}
