<div header>
    <div header-title>Camera discovery</div>
</div>
<div device>
    <div device-list>
        <div *ngFor='let device of devices; let i = index' device-list-host (click)='selectDevice(i, device)'
            [ngClass]="{'selected': i === selected}">
            {{getHostName(device)}}
        </div>
    </div>
    <div device-loader>
        <div device-loader-button>
            <button (click)='startOnvifDiscovery()'>Start</button>
        </div>
        <div device-loader-loading [hidden]='!loading'>
            loading...
        </div>
    </div>
</div>