:host {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: var(--std-margin);
    border: var(--std-border);
}

[header] {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--std-padding);
    border-bottom: var(--std-border);
}

[header-title] {
    flex: 1 0 auto;
    font: var(--title-font);
}

[header-verison] {
    flex: 0 0 auto;
    font: var(--status-font);
}

[content] {
    flex: 1 1 auto;
}

[content] > * {
    height: 100%;
}
