<div *ngIf='device'>
    <div *ngIf='settings'>
        <div>Camera: {{getHostName(settings.device)}}</div>
        <div>Error: {{settings.error}}</div>
        <div>Make: {{settings.make}}</div>
        <div>Model: {{settings.model}}</div>
        <div *ngFor='let profile of settings.profileList; let i = index'>
            <div>{{profile.name}}</div>
            <div>{{profile.encoding}}</div>
            <div>{{profile.width}}x{{profile.height}}</div>
            <div>{{profile.framerate}}</div>
            <div>{{profile.bitrate}}</div>
            <div>{{profile.url}}</div>
            <button (click)='showVideo(profile)'>Video</button>
        </div>
    </div>
    <div *ngIf='!settings'>
        Camera: {{getHostName(device)}}
        <div loader>
            <div loader-button>
                <button (click)='loadOnvifCameraSettings()'>Load</button>
            </div>
            <div loader-loading [hidden]='!loading'>
                loading...
            </div>
        </div>
    </div>
</div>